*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  }

/*Header*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: justify;
  overflow: auto;
}

header{
  overflow: hidden;
}

.container-fluid {
  background-color: #1D2D44;

}

.navbar-collapse {
  margin-left: -10px;
}

#navbarTogglerDemo03 ul li a{
  color: #e9ecef;

}

.navbar-nav li a {
  color: whitesmoke;
  margin-left: 100px;
  font-size: 16px;
  font-weight: bolder;
}

.nav-link:hover {
  background-color: #e9ecef;
  color: #1D2D44;
  font-size: 16px;
}

#Perdidos {
  height: 500px;
}

#Perdidos .titular1 {
  position: absolute;
  top: 450px;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #284b63;
  font-weight: bold;
  background-color: ivory;
  border-left: 0.5rem solid #1D2D44;
  padding: 0.3125rem 0.3125rem 0.3125rem 0;
  margin-right: 23.375rem;
}

@media screen and (max-width: 480px){
  #Perdidos{
    height: 80%;
  }
  
  #Perdidos .titular1{
    font-size: 14px;
    top: 260px;
    padding: 15px;
    width: 70%;

  }
  
  .fotoclave{
    width: 99%;
    height: 300px;
  }
  
}

#AboutUs {
  height: 400px;
}
#AboutUs h2 {
  font-size: 35px;
  padding-left: 400px;
  color: #606c38;
  font-family: "Chewy", cursive;
  padding-top: 60px;
}
#AboutUs p {
  text-align: center;
  padding-left: 30px;
}

.CajasIconos {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

@media screen and (max-width: 480px){
  #AboutUs{
    height: 150%;
  }
  
  #AboutUs h2{
    font-size: 14px;
    padding-left: 30%;
    padding-top: 5%;
  }

  p{
    font-size: 10px;
  }

  .CajasIconos {
    display: flex;
    flex-direction: row;

  }

  .CajasIconos div img{
    width: 30px;
    height: 30px;
    margin-left: 40%;
  }

}

#anuncios {
  border-left: 0.5rem solid #1D2D44;
}
#anuncios h3 {
  font-family: "Chewy", cursive;
  font-size: 35px;
  color: #606c38;
  font-family: "Chewy", cursive;
  text-align: center;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;

}

.tarjetas{
  display: flex;
  flex-direction: row;
  row-gap: 90px;
  justify-content: space-around;
}

.tarjetas .card:hover{
  transform: translateY(-15px);
}

#anuncios .card-deck .card {
  text-align: center;
  box-shadow: 1px 5px 15px #a2a2a2;
  height: auto;
  width: auto;
}
#anuncios .card-deck .card img {
  height: 18.75rem;
  width: 16.75rem;
  margin-left: 14%;
}

@media screen and (max-width: 480px){
  #anuncios{
    height: 150%;
  }

  #anuncios h3{
    font-size: 14px;
    padding-left: 15%;
    padding-top: 5%;
  }

  .card-body{
    font-size: 12px;
  }

  #anuncios .card-deck .card{
    width: 200px;
    height: 190px;
  }

  #anuncios .card-deck .card img{
    height: 140px;
    width: 140px;
    padding-left: 10px;
  }

  #anuncios .card-deck .card h4 {
    font-size: 10px;
    margin-top: -15px;
  }

  #anuncios .card-deck .card p{
    font-size: 9px;
    margin-top: -10px;
  }

  #anuncios .card-deck .card .btn{
    font-size: 8px;
    padding: 2px 2px;
    margin-top: -15px;
  }

}

#Historias_felices {
  height: 400px;
}
#Historias_felices h4 {
  font-size: 35px;
  color: #606c38;
  font-family: "Chewy", cursive;
  text-align: center;
  padding-top: 25px;
}
#Historias_felices .maincarousel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#Historias_felices .maincarousel .texto{
  margin-top: 8%;
  padding: 40px 60px;
  text-align: center;
}

#Historias_felices .carousel-inner .carousel-item h5 {
  font-size: 20px;
  background-color: #1D2D44;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0%;
}
#Historias_felices .carousel-inner .carousel-item p {
  font-size: 16px;
  font-weight: bold;
  border-radius: 3%;
  color: #1D2D44;
  background-color: #e9ecef;
  margin-bottom: -1%;
  
}

.carousel-control-prev{
  border: none;
  border-style: hidden;
}

.carousel-control-next{
  border: none;
  border-style: hidden;
}


@media screen and (max-width: 480px){
  #Historias_felices{
    height: 150%;
  }
  
  #Historias_felices .maincarousel{
    display: flex;
    flex-direction: column;
  }
  
  #Historias_felices h4{
    font-size: 14px;
  }

  .maincarousel .texto{
    font-size: 10px;
    padding-top: 5px;
    margin-top: auto;
    padding-top: 10px;
  }

  #Historias_felices .carousel-inner .carousel-item h5{
    font-size: 11px;
  }

  #Historias_felices .carousel-inner .carousel-item p{
    font-size: 10px;
  }

  .carousel-inner img{
    width: 80%;
    height: 80%;
    margin-left: 40px;
  }

}


#ColaboraAlbergues {
  border-left: 0.5rem solid #1D2D44;
  margin-bottom: 0.625rem;
  margin-top: 0.3125rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 400px;
}
#ColaboraAlbergues .VideoOne {
  height: 150px;
  width: fit-content;
  float: left;
  padding-top: 15px;
}
#ColaboraAlbergues .container-video {
  text-align: center;
  padding: 70px 30px 20px 4px;
  margin-left: 20px;
}
#ColaboraAlbergues .container-video h5 {
  font-size: 35px;
  font-family: "Chewy", cursive;
  color: #606c38;
  padding-top: 45px;
}
#ColaboraAlbergues .container-video p {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
#ColaboraAlbergues .container-video .btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
}
#ColaboraAlbergues .container-video .btn:hover {
  font-size: 18px;
}

@media screen and (max-width: 480px){
  #ColaboraAlbergues{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 30%;
  }
  
  #ColaboraAlbergues .VideoOne{
    display: none;
  }

  #ColaboraAlbergues .container-video h5{
    font-size: 14px;
    padding-top: 0;
  }

  #ColaboraAlbergues .container-video .btn{
    font-size: 8px;
    margin-bottom: 50px;
  }
}

footer{
  position: relative;
  background-color: #1D2D44;
}

footer .main-content{
  display: flex;
  flex-direction: row;
  color: #e9ecef;
  justify-content: space-around;
}

footer .main-content .left-box img{
  height: 70px;
  padding: 10px 20px;
}

footer .center-box p{
  font-size: 13px;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
}

footer .center-box a{
  color: #e9ecef;
}

footer .right-box{
  margin-top: 15px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

footer .right-box p{
  margin-bottom: 4px;
}

footer .socialmedia{
  margin-top: 2px;
}

@media screen and (max-width: 480px){
  footer .main-content{
    display: flex;
    flex-direction: column;
  }
  footer .main-content .left-box img{
    height: 40px;
    width: auto;
    margin-left: 90px;
  }
  footer .center-box p{
    font-size: 9px;
  }

  footer .right-box{
    font-size: 9px;
    margin-top: 5px;
  }
}



/*# sourceMappingURL=stylemain.css.map */
