#Historias_felices{
    height: $heightpart;

    .txtcr{
        font-size: $sizetitular;
        color: $colortitular;
        font-family: $fonttitular;
        text-align: center;
        padding-top: 25px;
    }

    .contenedor{
        display: grid;
        grid-template-columns: repeat(2,1fr);

        }

        .texto{
            text-align: center;
            font-weight: 600;
            margin-top: 15%;
            font-size: $sizefontgral;
            padding:{
                left: 10%;
                right: 15%;
            }
        }  

        .carousel-1{
            .carousel-item{
                 h5{
                    font-size: 20px;
                    background-color: $colorcentral;
                    font-family: $fontprinp;
                    margin-top: -20%;
                    margin-right: 15%;
           
                 p{
                    font-size: 16px;
                    font-family: $sizefontgral;
                    font-weight: bold;
                    margin-top: 10%;
                    border-radius: 7%;
                    padding-right: 15%;
                    color: #1D2D44;
                    background-color: gainsboro;
                 }

            }
        }
    }
}