$fontprinp: 'Poppins', sans-serif;
$sizefontgral: 14px;
$colorcentral: #1D2D44;
$colortitular: #606c38;
$colorsobre: antiquewhite;
$fonttitular: 'Chewy', cursive;

body{
    background:url(../img/FondoBlanco.PNG);
}

